<%= render :partial => 'versions/overview', :locals => {:version => version} %>
<%= render(:partial => "wiki/content", :locals => {:content => version.wiki_page.content}) if version.wiki_page %>

<%- if issues.present? -%>
<fieldset class="related-issues"><legend><%= l(:label_related_issues) %></legend>
<% form_tag({}) do %>
<table class="list related-issues">
  <thead>
    <th width="20%" align="left"><%= l(:field_issue) %></th>
    <th width="44%" align="left"><%= l(:field_description) %></th>
    <th width="9%" align="center"><%= l(:field_estimated_hours) %></th>
    <th width="9%" align="center"><%= l(:label_spent_time) %></th>
    <th width="9%" align="center"><%= l(:field_done_ratio) %></th>
    <th width="9%" align="center"><%= l(:label_roadmap_due_in, "") %></th>
  </thead>
  <tbody>
  <%- issues.each do |issue| -%>
    <%- color = ""
        begin_strike = ""
        end_strike = ""
        if issue.estimated_hours && issue.done_ratio
          ratio = issue.spent_hours / ((issue.estimated_hours * issue.done_ratio) / 100.0)
          if ratio < 0.5
            color = "green"
          end
          if ratio > 1.0
            color = "orange"        
          end
          if ratio > 1.5
            color = "red"
          end
        end
        if issue.closed?
          begin_strike = "<strike>"
          end_strike = "</strike>"
        end -%>
    <tr class="hascontextmenu <%= cycle("odd", "even") %>\">
      <td class="checkbox"><%= check_box_tag("ids[]", issue.id) %></td>
      <td align="left"><%= "&nbsp;" * 3 * issue.parents_count %><%= link_to_issue(issue, :project => (@project != issue.project), :subject => false) %></td>
      <td align="left"><font color="<%= color %>"><%= begin_strike %><%= h(issue.subject) %><%= end_strike %></font></td>
      <td align="center"><font color="<%= color %>"><%= begin_strike %><%= ("%.2f" % issue.estimated_hours) if issue.estimated_hours %><%= end_strike %></font></td>
      <td align="center"><font color="<%= color %>"><%= begin_strike %><%= "%.2f" % issue.spent_hours %><%= end_strike %></font></td>
      <td align="center"><font color="<%= color %>"><%= begin_strike %><%= (("%.0f" % issue.done_ratio) + "%") if issue.estimated_hours %><%= end_strike %></font></td>
      <td align="center"><font color="<%= color %>"><%= begin_strike %><%= ("%.2f" % issue.rest_hours) if issue.estimated_hours %><%= end_strike %></font></td>
    </tr>
  <%- end -%>
    <tr class="<%= cycle("odd", "even") %>">
      <td align="left"></td>
      <td align="left"><b><%= l(:label_total) %></b></td>
      <td align="center"><b><%= ("%.2f" % version.estimated_hours) %></b></td>
      <td align="center"><b><%= ("%.2f" % version.spent_hours) %></b></td>
      <td align="center"><b><%= ("%.0f" % version.completed_pourcent) %>%</b></td>
      <td align="center"><b><%= ("%.2f" % version.rest_hours) %></b></td>
    </tr>
  </tbody>
</table>
<% end %>
</fieldset>
<%- end -%>
