<%= render :partial => 'versions/overview', :locals => {:version => version} %>
<%= render(:partial => "wiki/content", :locals => {:content => version.wiki_page.content}) if version.wiki_page %>

<%- if (params[:controller] == "versions" and params[:action] == "index") or
       (params[:controller] == "milestones" and params[:action] == "show") -%>
<table>
  <tr>
      <td width="210px" align="right">% <%= (params[:controller] == "milestones") ? l(:label_milestone) : l(:label_project) %></td>
      <td width="340px" class="total-hours"><%= "%.0f" % (((version.spent_hours + version.rest_hours) * 100.0) / (totals[:spent_hours] + totals[:rest_hours])) %>%</td>
  </tr>
  <%- if version.rest_hours > 0.0 -%>
  <tr>
    <td width="210px" align="right"><%= l(:label_roadmap_due_in, "") %></td>
    <td width="340px" class="total-hours"><%= "#{l_hours(version.rest_hours)} / #{l_days(version.rest_hours / 8.0)} / #{l_weeks(version.rest_hours / 40.0)}" %></td>
  </tr>
  <%- if !(custom_field = CustomField.find_by_id(Setting.plugin_advanced_roadmap["parallel_effort_custom_field"].to_i)).nil? and
         custom_field.field_format == "float" and version.parallel_rest_hours != version.rest_hours -%>
  <tr>
    <td width="210px" align="right"><%= l(:label_roadmap_due_in, "") %> (<%= custom_field.name %>)</td>
    <td width="340px" class="total-hours"><%= "#{l_hours(version.parallel_rest_hours)} / #{l_days(version.parallel_rest_hours / 8.0)} / #{l_weeks(version.parallel_rest_hours / 40.0)}" %></td>
  </tr>
  <%- end -%>
  <%- end -%>
</table>
<%- end -%>

<%- if issues.present? -%>
<fieldset class="related-issues"><legend><%= l(:label_related_issues) %></legend>
<% form_tag({}) do %>
<table class="list related-issues">
  <thead>
    <th width="64%" align="left" colspan="2"><%= l(:field_issue) %></th>
    <th width="9%" align="center"><%= l(:field_estimated_hours) %></th>
    <th width="9%" align="center"><%= l(:label_spent_time) %></th>
    <th width="9%" align="center"><%= l(:field_done_ratio) %></th>
    <th width="9%" align="center"><%= l(:label_roadmap_due_in, "") %></th>
  </thead>
  <tbody>
  <%- issues.each do |issue| -%>
    <%- color = ""
        begin_strike = ""
        end_strike = ""
        if issue.estimated_hours && issue.done_ratio
          color = color_by_ratio(issue.spent_hours / ((issue.estimated_hours * issue.done_ratio) / 100.0))
        end
        if issue.closed?
          begin_strike = "<strike>"
          end_strike = "</strike>"
        end -%>
    <tr class="hascontextmenu <%= cycle("odd", "even") %>\">
      <%- tab = "&nbsp;" * 3 * issue.parents_count -%>
      <td class="checkbox"><%= check_box_tag("ids[]", issue.id) %></td>
      <td align="left" colspan="2">
        <div class="tooltip">
          <%= tab %>
          <font color="<%= color %>"><%= begin_strike %>
            <%= link_to_issue(issue, :project => (@project != issue.project)) %>
          <%= end_strike %></font>
          <span class="tip">
            <table width="100%">
              <tr><td colspan="2"><%= link_to_issue(issue) %></td></tr>
              <%- if @project != issue.project -%>
              <tr><td><strong><%= l(:field_project) %>:</strong></td><td><%= link_to_project(issue.project) %></td></tr>
              <%- end -%>
              <tr><td><strong><%= l(:field_status) %>:</strong></td><td><%= issue.status.name %></td></tr>
              <tr><td><strong><%= l(:field_priority) %>:</strong></td><td><%= issue.priority.name %></td></tr>
              <tr><td><strong><%= l(:field_assigned_to) %>:</strong></td><td><%= link_to_user(issue.assigned_to) %></td></tr>
              <tr><td><strong><%= l(:field_category) %>:</strong></td><td><%= issue.category %></td></tr>
              <tr><td><strong><%= l(:field_start_date) %>:</strong></td><td><%= format_date(issue.start_date) %></td></tr>
              <tr><td width="40%"><strong><%= l(:field_due_date) %>:</strong></td><td width="60%"><%= format_date(issue.due_date) %></td></tr>
            </table>
          </span>
        </div>
      </td>
      <td align="center"><font color="<%= color %>"><%= begin_strike %><%= ("%.2f" % issue.estimated_hours) if issue.estimated_hours %><%= end_strike %></font></td>
      <td align="center"><font color="<%= color %>"><%= begin_strike %><%= "%.2f" % issue.spent_hours %><%= end_strike %></font></td>
      <td align="center"><font color="<%= color %>"><%= begin_strike %><%= (("%.0f" % issue.done_ratio) + "%") if issue.estimated_hours %><%= end_strike %></font></td>
      <td align="center"><font color="<%= color %>"><%= begin_strike %><%= ("%.2f" % (issue.rest_hours * ((!issue.closed? and (!issue.spent_hours or issue.spent_hours <= 0.0) and !version.estimated_speed.nil?) ? version.estimated_speed : 1.0))) if issue.estimated_hours %><%= end_strike %></font></td>
    </tr>
  <%- end -%>
  </tbody>
  <thead>
    <th align="left"><%= l(:label_total) %></th>
    <th align="left">
    <%- if !version.estimated_speed.nil? -%>
      <%= l(:label_estimated_speed) %>: <font color="<%= color_by_ratio(version.estimated_speed) %>"><%= ("%.0f" % (100.0 / version.estimated_speed)) %>%</font>
    <%- end -%>
    </th>
    <th align="center"><%= ("%.2f" % version.estimated_hours) %></th>
    <th align="center"><%= ("%.2f" % version.spent_hours) %></th>
    <th align="center"><%= ("%.0f" % version.completed_pourcent) %>%</th>
    <th align="center"><%= ("%.2f" % version.rest_hours) %></th>
  </thead>
</table>
<% end %>
</fieldset>
<%- end -%>
